.ProductContainer {
  .ImagePricingSection {
    display: flex;
    flex-direction: row;

    .ImageCarousel {
      height: 400px;
      flex-basis: 50%;
    }

    .Pricing {
      height: 400px;
      flex-basis: 50%;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      height: 1000px;

      .ImageCarousel {
        height: 500px;
      }
    }
  }
}
