@import '../../styles/variables.scss';

.PricingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Price {
    text-align: center;

    .PriceLabel {
      font-weight: 500;
      font-size: 1.5em;
    }

    .PriceValue {
      font-weight: 700;
      font-size: 2.3em;
      color: $moneyGreen;
    }
  }

  .Shipping {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
  }

  .Title {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
  }

  .EtsyButton {
    text-align: center;

    .EtsyLink {
      text-decoration: none;
    }
  }

  .OrHeader {
    color: $black;
    font-size: 20px;
    margin: 15px 0;
  }

  .AddToCart {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .AddToCartButton {
      width: 200px;
      margin-right: 10px;
    }

    .QuantityInput {
      width: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 18px;
    }
  }

  .EtsyLabel {
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
    vertical-align: middle;
    color: $black;
  }

  .EtsyImage {
    width: 70px;
  }

  @media (max-width: 992px) {
    .Title {
      font-size: 3em;
    }

    .AddToCart {
      .AddToCartButton {
        width: 300px;
      }

      .QuantityInput {
        height: 98px;
        width: 90px;
      }
    }

    .Shipping {
      font-size: 2.5em;
    }

    .Price {
      .PriceLabel {
        font-size: 3em;
      }

      .PriceValue {
        font-size: 3.5em;
      }
    }

    .EtsyLabel {
      font-size: 3em;
      margin-right: 20px;
    }

    .EtsyImage {
      width: 150px;
    }
  }
}
