@import '../../styles/variables.less';

.product-mini-container {
	.product-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: inherit;
	}

	.price {
		font-weight: 500;
		color: @moneyGreen;
	}

	.product-title {
		text-align: center;
	}

	.product-image {
		height: 300px;
		width: 300px;
		border: solid @gray 1px;
		border-radius: 3px;
	}

	.no-image {
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid @gray 1px;
		background: @light-gray;
		border-radius: 3px;
		width: 300px;
		height: 300px;

		.no-image-icon {
			font-size: 20px;
		}
	}

	@media (max-width: 1175px) {
		.no-image, .product-image {
			width: 400px;
			height: 400px;
		}
	}
}
