@import '../../styles/variables.less';

.ProductGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.ProductCell {
	display: flex;
	justify-content: center;
}

@media (max-width: 1446px) {
	.ProductGrid {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
}

@media (max-width: 1175px) {
	.ProductGrid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
}

@media (max-width: 840px) {
	.ProductGrid {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
	}
}

  .Hidden {
    transform: scale(0);
    opacity: 0;
  }

  .Show {
    transform: scale(1);
    opacity: 1;
    transition: opacity ease 300ms;
  }