@import '../../styles/variables.less';

.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.product-cell {
	display: flex;
	justify-content: center;
}

@media (max-width: 1446px) {
	.product-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
}

@media (max-width: 1175px) {
	.product-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
}

@media (max-width: 840px) {
	.product-grid {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
	}
}