.TextBlurbContainer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5em; 
  text-align: center;
}

@media (max-width: 992px) {
  .TextBlurbContainer {
    font-size: 2.2em;
  }
}