@import '../../styles/variables.scss';

.CartSidebarContainer {
  height: 100%;
  border: 1px solid $light-gray;

  .Header {
    margin-top: 10px;
    text-align: center;
  }

  .ItemsHeader {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .LineItemTotalList {
    padding: 0;
    .LineItemTotal {
      display: flex;
      justify-content: space-between;
    }
  }

  .Totals {
    font-size: 18px;
    font-weight: 600;
    .SubTotal {
      display: flex;
      justify-content: space-between;
    }

    .ShippingTotal {
      display: flex;
      justify-content: space-between;
    }
  }

  .GrandTotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
  }

  .CheckoutButtonContainer {
    margin-top: 15px;
  }
}
