:global {
  .flex {
    display: flex;
  }

  .flex-dir-row {
    flex-direction: row;
  }

  .flex-dir-col {
    flex-direction: column;
  }

  .justify-content-start {
    justify-content: flex-start;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .justify-content-center {
    justify-content: center;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-around {
    justify-content: space-around;
  }

  .justify-content-evenly {
    justify-content: space-evenly;
  }

  .align-items-center {
    align-items: center;
  }

  .align-content-center {
    align-content: center;
  }

  .flex-grow {
    flex-grow: 1;

    &-2 {
      flex-grow: 2;
    }

    &-3 {
      flex-grow: 2;
    }
  }

  .flex-basis {
    &-25 {
      flex-basis: 25%;
    }
    &-32 {
      flex-basis: 32%;
    }
    &-33 {
      flex-basis: 33%;
    }
    &-49 {
      flex-basis: 49%;
    }
    &-50 {
      flex-basis: 50%;
    }
    &-75 {
      flex-basis: 75%;
    }
  }
}
