// Colors
$light-gray: #e5e5e5;
$gray: #a0a0a0;
$moneyGreen: #66ad68;
$black: #646464;
$primaryButton: #86a8e3;
$blueGray: #87919e;
$peacock-blue: #1890ff;
$otter-blue: #40a9ff;
$error-red: red;
$white: #fefefe;

// Button Colors
$default: #a0a0a0;
$default-hover: #b1b1b1;
$primary: #3ca2e5;
$primary-hover: #42adf4;
$danger: #cc9090;
$danger-hover: #a87272;
$dark: #5e5d5d;
$dark-hover: #7e7d7d;
$save: #45ba68;
$save-hover: #7cce94;

// Breakpoints
$medium: 1000px;
$small: 768px;

// Z Indexes
$z-index-drawer: 10000;
$z-index-notification: 10001;
$z-index-spinner-overlay: 20000;
$z-index-spinner: 20001;
$z-index-navbar: 9999;

// Breakpoints
$mobile: 992px;
