// Colors
$light-gray: #e5e5e5;
$gray: #a0a0a0;
$moneyGreen: #66ad68;
$black: #646464;
$primaryButton: #86a8e3;
$blueGray: #87919e;
$peacock-blue: #1890ff;
$otter-blue: #40a9ff;
$error-red: red;

// Breakpoints
$medium: 1000px;
$small: 768px;
$mobile: 500px;
