@import '../../styles/variables.scss';

.ImageGridContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .Content {
    margin: 10px;
    width: 500px;
    height: 500px;
    border: solid $gray 1px;
    opacity: 0;
    border-radius: 5px;
  }

  .TextContent {
    @extend .Content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    max-width: 650px;
  }

  .ContentText {
    font-size: 1.3em;
    font-weight: 500;
  }

  .TextContentComponent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ContentButton {
    margin-top: 30px;
  }

  .Show {
    opacity: 1;
    transition: opacity ease-in 1000ms;
  }
}

@media (max-width: 992px) {
  .ImageGridContainer {
    .Image {
      width: 70%;
      height: 600px;
    }

    .ContentText {
      font-size: 2.1em;
    }

    .Content {
      width: 650px;
      height: 600px;
    }
  }
}
