.EditProductDetailsContainer {
  display: flex;
  flex-direction: column;

  .Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Input {
    margin-top: 10px;
    flex-basis: 32%;
  }

  .Select {
    margin-top: 10px;
    flex-basis: 32%;
  }

  .SectionHeader {
    font-size: 1.2em;
    font-weight: 500;
    margin: 15px 0 5px 0;
  }


  @media (max-width: 992px) {
    .Row {
      flex-direction: column;
    }

    .SectionHeader {
      font-size: 3.2em;
      margin: 20px 0 5px 0;
    }

    .Input {
      height: 110px;

      div {
        height: 110px;
      }

      label {
        font-size: 3em;
      }

      input {
        font-size: 3em;
        padding-bottom: 0;
      }
    }

    .Select {
      label {
        font-size: 3em;
      }

      div {
        font-size: 1.5em;
        margin-top: 15px;
      }

    }

  }
}

@media (max-width: 992px) {
  div ul li {
    .MenuOption {
      font-size: 3.2em;
    }
  }

  :global {
      .ql-editor {
          font-size: 3em;
      }
  }
}