@import '../../styles/variables.scss';

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SpinnerContainer {
  width: 100%;
}

.Spinning {
  &::before {
    content: '';
    border: 5px solid $peacock-blue;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border-bottom-color: transparent;
    z-index: $z-index-spinner;
    position: fixed;
    top: 50%;
    left: calc(50% - 40px);
    animation: spinner 1000ms linear infinite;
  }

  &::after {
    content: '';
    z-index: $z-index-spinner-overlay;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }
}
