.CartPageContainer {
  .CartPageBody {
    display: flex;
    flex-direction: col;
  }

  .CartCards {
    flex-grow: 2;
    padding: 10px;
  }

  .CartSidebar {
    max-width: 400px;
    margin-top: 10px;
    position: sticky;
    top: 55px;
    flex-grow: 1;
  }
}
