@import '../styles/variables.scss';

.CartPageContainer {
  .CartPageBody {
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }

  .CartCards {
    flex-grow: 2;
    padding: 10px;
  }

  .CartSidebar {
    max-width: 500px;
    margin-top: 10px;
    position: sticky;
    top: 55px;
    flex-grow: 1;

    @media (max-width: $mobile) {
      max-width: 100%;
      background: white;
      top: 105px;
    }
  }
}
