@import "../../styles/variables.less";

.nav-bar {
	margin-bottom: 25px;

}

.hamburger-button {
	font-size: 4em;
	margin-top: 15px;
}

.hamburger-link {
	color: @black;
}

.nav-dropdown-list {
	list-style-type: none;

	li {
		margin: 10px 0;
		font-size: 3.8em;
		color: @black;
	}
}

.hide-desktop{
	display: none !important;
}

.right-link {
	float: right;
}

@media (max-width: 992px) {
	.hide-mobile {
		display: none !important;
	}

	.hide-desktop{
		display: inline-block !important;
	}
}