@import '../../styles/variables.scss';

.TextInputContainer {
  position: relative;
  padding-bottom: 10px;

  .TextInput {
    padding: 10px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid $gray;
    transition: border-color 400ms ease-in-out, box-shadow 400ms ease-in-out;

    &:focus,
    &:hover {
      outline: none;
      border-color: $peacock-blue;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }

  .Error {
    border-color: $error-red;

    &:focus,
    &:hover {
      border-color: $error-red;
      box-shadow: none;
    }
  }

  .ErrorMessage {
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 300;
    color: $error-red;
    position: absolute;
    left: 0;
    bottom: -5px;
  }

  .TextArea {
    height: inherit;
  }

  .TextInputLabel {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
  }
}
