@import '../../styles/variables.scss';

.CarouselNavButtonContainer {
  display: inline-block;
  cursor: pointer;
  font-size: 2.2em;
  transition: color ease-in 100ms, background ease-in 100ms;
  border-radius: 100%;
  color: $light-gray;
  background: $gray;

  &:hover {
    background: $light-gray;
    color: $gray;
  }

  @media (max-width: 992px) {
    font-size: 4.2em;
  }
}
