@import '../../styles/variables.less';

.image-carousel-container {
	width: 90%;
}

@media (max-width: @small) {
	.image-carousel-container {
		width: 100%;
	}
}

.ant-carousel {
	overflow: hidden;
	background: gray;
	height: 400px;
	width: 100%
}


.image {
	height: 400px;
	width: 100%;
	border: solid @gray 1px;
}
