@import '../../styles/variables.less';

.image-carousel-container {
	width: 500px;
}

.ant-carousel {
	overflow: hidden;
	background: gray;
	height: 400px;
	width: 100%
}


.image {
	height: 400px;
	width: 100%;
	border: solid @gray 1px;
}
