@import '../../client/styles/variables';

.SignupPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .FormContainer {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 600px;
  }

  .ErrorMessage {
    color: $error-red;
    margin-bottom: 15px;
  }
}
