@import '../../styles/variables.scss';

.CartItemCardContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid $light-gray;
  border-radius: 3px;
  min-height: 200px;
  padding: 20px;

  @media (max-width: $mobile) {
    height: 100%;
  }
  .ImageContainer {
    margin-right: 15px;

    .Image {
      border: 1px solid $gray;
      height: 150px;
      width: 150px;

      @media (max-width: $mobile) {
        height: 280px;
        width: 280px;
      }
    }
  }

  .MissingImage {
    color: $black;
    height: 150px;
    width: 150px;

    @media (max-width: $mobile) {
      height: 280px;
      width: 280px;
    }
  }

  .ItemInfo {
    width: 100%;

    .ItemTitle {
      font-size: 18px;
      font-weight: 500;

      @media (max-width: $mobile) {
        font-size: 2.5em;
      }
    }

    .ItemInfoBody {
      margin-top: 15px;
      display: flex;
      align-items: center;

      .QuantityInput {
        width: 80px;

        @media (max-width: $mobile) {
          width: 100px;
          span {
            font-size: 1.5em;
          }
        }

        select {
          border-radius: 3px;
          text-indent: 15px;

          @media (max-width: $mobile) {
            font-size: 2.9em;
          }
        }
      }

      .RemoveItemButton {
        margin-top: 5px;
        border: none;
        background: transparent;
        padding: 0;
        font-size: 11px;
        color: $primary;

        @media (max-width: $mobile) {
          font-size: 2em;
        }

        &:hover {
          color: $primary-hover;
        }
      }
    }
  }

  .Price {
    @media (max-width: $mobile) {
      font-size: 2.5em;
    }

    .PriceAmount {
      color: $moneyGreen;
    }
  }

  .Shipping {
    @media (max-width: $mobile) {
      font-size: 2.5em;
    }

    .FreeShipping {
      color: $peacock-blue;
      font-weight: 600;
    }
  }

  .NotesContainer {
    .EditNotesButton {
      padding: 0;
      background: transparent;
      border: none;
      font-size: 12px;
      color: $primary;

      &:hover {
        color: $primary-hover;
      }
    }

    .SaveButton {
      button {
        height: 30px;
      }
    }

    .NotesPreview {
      font-style: italic;
      font-size: 11px;
    }
  }
}
