@import '../../styles//variables.scss';

.DrawerContainer {
  position: fixed;
  left: 0;
  top: -600;
  height: 600px;
  width: 100%;
  background: white;
  border-bottom: 1px solid $gray;
  z-index: $z-index-drawer;
  transition: top ease-out 300ms;
}

.Showing {
  top: 0;
}
