@import '../../styles//variables.scss';

.DrawerContainer {
  position: fixed;
  left: 0;
  top: -600;
  height: 600px;
  width: 100%;
  background: white;
  border-bottom: 1px solid $gray;
  z-index: $z-index-drawer;
  transition: top ease-out 300ms;

  .CloseLink {
    font-size: 2.2em;
    font-weight: 300;
    color: $gray;
    position: absolute;
    bottom: 45px;
    right: 30px;
  }
}

.Showing {
  top: 0;
}
