@import '../../styles/variables.scss';

.CarouselNavButtonContainer {
  display: inline-block;
  cursor: pointer;
  font-size: 2.2em;
  color: $gray;
  transition: color ease-in 100ms, background ease-in 100ms;
  background: $light-gray;
  border-radius: 100%;

  &:hover {
    color: $light-gray;
    background: $gray;
  }
}
