.ImageCarouselContainer {
  max-width: 400px;
  // position: relative;
  overflow: hidden;

  .ImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;

    .Image {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
