.ContactContainer {
  text-align: center;
}

.FormLabel {
  font-size: 1.3em;
}

:global {
  .ant-input-lg {
    height: 100px;
  }
}

.ContactSubmitButton {
  width: 100%;
}

@media (min-width: 993px) {
  .ContactFormContainer {
    :global {
      .ant-form-vertical .ant-form-item {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 992px) {
  .FormLabel {
    font-size: 2.5em;
  }

  :global {
    #submit-contact-form {
      height: 80px;
      margin-top: 50px;

      span {
        font-size: 2.5em;
      }
    }

    #contact_form {
      &_name,
      &_email,
      &_subject {
        height: 80px;
        font-size: 2.5em;
      }

      &_message {
        font-size: 2.5em;
      }
    }
  }
}
