/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[13].use[5]!./client/components/button/button.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ButtonContainer .Button {
  border-radius: 3px;
  width: 100%;
  height: 40px;
  color: #fefefe;
  background: #a0a0a0;
  transition: background 300ms ease-in-out;
  border: 1px solid black;
}
.ButtonContainer .Button:focus, .ButtonContainer .Button:hover {
  outline: none;
  background: #b1b1b1;
}
.ButtonContainer .Primary {
  background: #1c8ad2;
}
.ButtonContainer .Primary:focus, .ButtonContainer .Primary:hover {
  background: #3ca2e5;
}
.ButtonContainer .Danger {
  background: #cc9090;
}
.ButtonContainer .Danger:focus, .ButtonContainer .Danger:hover {
  background: #a87272;
}
.ButtonContainer .Save {
  background: #45ba68;
}
.ButtonContainer .Save:focus, .ButtonContainer .Save:hover {
  background: #7cce94;
}
.ButtonContainer .Dark {
  background: #5e5d5d;
  border-radius: 1px;
}
.ButtonContainer .Dark:focus, .ButtonContainer .Dark:hover {
  background: #7e7d7d;
}
@media (max-width: 992px) {
  .ButtonContainer .Button {
    height: 80px;
    font-size: 3em;
  }
}

.HalfWidth {
  width: 50%;
}

.FullWidth {
  width: 100%;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[13].use[5]!./client/components/page-header/page-header.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PageHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}
.PageHeaderContainer div {
  flex-basis: 33.3%;
  text-align: center;
}
.PageHeaderContainer .Button {
  display: flex;
  align-items: center;
}
.PageHeaderContainer .LeftLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.PageHeaderContainer .LeftLink .LinkText {
  margin-left: 5px;
}
.PageHeaderContainer :nth-child(3) {
  text-align: right;
}
.PageHeaderContainer .HeaderText {
  font-size: 2.3em;
  font-weight: 500;
}

@media (max-width: 992px) {
  .PageHeaderContainer {
    flex-direction: column;
  }
  .PageHeaderContainer div {
    flex-basis: 0%;
  }
  .PageHeaderContainer .HeaderText {
    align-self: center;
    font-size: 4em;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[13].use[5]!./client/components/text-blurb/text-blurb.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TextBlurbContainer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}

@media (max-width: 992px) {
  .TextBlurbContainer {
    font-size: 2.2em;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[13].use[5]!./client/components/homepage-content-grid/homepage-content-grid.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ImageGridContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ImageGridContainer .Content, .ImageGridContainer .TextContent {
  margin: 10px;
  width: 500px;
  height: 500px;
  border: solid #a0a0a0 1px;
  opacity: 0;
  border-radius: 5px;
}
.ImageGridContainer .TextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  max-width: 650px;
}
.ImageGridContainer .ContentText {
  font-size: 1.3em;
  font-weight: 500;
}
.ImageGridContainer .TextContentComponent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ImageGridContainer .ContentButton {
  margin-top: 30px;
  width: 80%;
}
.ImageGridContainer .Show {
  opacity: 1;
  transition: opacity ease-in 1000ms;
}

@media (max-width: 992px) {
  .ImageGridContainer .Image {
    width: 70%;
    height: 600px;
  }
  .ImageGridContainer .ContentText {
    font-size: 2em;
  }
  .ImageGridContainer .Content, .ImageGridContainer .TextContent {
    width: 650px;
    height: 600px;
  }
}
